nav#navbar
  .hamburger-menu.d-lg-none
    span
    span
    span
    span
  .container
    .row 
      .logo
        img(src="/images/logo-white.svg", alt="ksum logo")
        img(src="/images/iwklogo.svg", alt="ksum logo")
      .menu
        .logo
        //- ul
        //-   include menu.pug

script(src="./script/nav.js" defer)