@import '../../node_modules/bootstrap/scss/bootstrap-utilities.scss';
@import './mixins';
#header-section {
  height: 100vh;
  background-image: url('../images/bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  text-align: center;
  .overlay {
    width: 100%;
    height: 100%;
    background: #3fafef66;
    backdrop-filter: blur(4px);
    position: absolute;
  }
  .info-container {
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    margin-left: auto;
    margin-right: auto;
    h1 {
      font-size: 4rem;
    }
  }
}

.section-content {
  padding-top: 80px;
  padding-bottom: 80px;
}

#footer {
  background: #e22295;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
}

#main-section {
  // height: 100vh;
  padding-top: 120px;
}

.whyhack {
  @include my_bp(sm) {
    border-right: 2px solid rgba(255, 255, 255, .5);
    padding-right: 1.5rem;
  }
  img {
    width: 50%;
    margin: 1rem;
    @include my_bp(sm) {
      width: 100%;
    }
  }
}

#typeit {
  font-size: 4rem;
  font-weight: 900;
  line-height: 3rem;
  i {
    color: $red-500;
  }
  span {
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-weight: 400;
  }
}

.partner-header {
  margin-top: 2rem;
  transform: scale(0);
  transition: all 500ms ease;
  display: none;
  &.open {
    display: block;
    transform: scale(1);
  }
  img {
    max-width: 150px;
    // background-color: white;
    // padding: 10px;
  }
  .button {
    border: 1px solid white;
    padding: 1rem 2rem;
    color: white;
    text-decoration: none;
    transition: all 500ms ease;
    font-weight: 700;
    &:hover {
      background: white;
      color: $green-900;
    }
  }
}

#categories {
  .grid {
    background: $gray-900;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, .5);
    padding: 40px 20px;
    position: relative;
    height: 250px;
    margin-bottom: 1rem;
    // overflow: hidden;
    &:hover {
      h1 {
        top: -40px;
        opacity: 1;
        font-size: 4rem;
        filter: drop-shadow(1px 1px 4px $gray-900);
      }
      .button {
        background: white;
        color: $gray-900 !important;
        transform: translateX(100%);
      }
      span {
        opacity: 1;
        transform: scale(1) !important;
      }
      &::before {
        transform: translateX(100%);
      }
    }
    &:before {
      content: '';
      display: block;
      height: 100%;
      width: 50%;
      background: $gray-800;
      opacity: .5;
      position: absolute;
      top: 0;
      left: 0;
      transition: all 500ms ease;
    }
    h1 {
      position: absolute;
      right: 30px;
      color: #00afef;
      opacity: 0;
      z-index: 1;
      transition: all 500ms ease;
    }
    .content {
      position: absolute;
      z-index: 5;
      height: 100%;
      top: 0;
      left: 0;
      padding: 2rem;
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: space-between;
      h3 {
        font-size: 1.5rem;
        font-weight: 700;
      }
      .button {
        border: 1px solid white;
        padding: .5rem 1rem;
        display: inline-block;
        color: white;
        text-decoration: none;
        font-weight: 400;
        transition: all 800ms ease;
      }
    }
    span {
      position: absolute;
      opacity: 0;
      transition: all 500ms ease;
      &:nth-of-type(1) {
        content: "";
        display: block;
        width: 100%;
        height: 3px;
        background: linear-gradient(90deg, transparent 0%, #00afef 100%);
        top: 0;
        left: 0;
        transform: scaleX(0);
        transform-origin: top right;
      }
      &:nth-of-type(2) {
        content: "";
        display: block;
        width: 3px;
        height: 100%;
        background: linear-gradient(0deg, transparent 0%, #00afef 100%);
        top: 0;
        right: 0;
        transform: scaley(0);
        transform-origin: top right;
      }
    }
  }
}

.particlehead {
  position: relative;
  &.loading {
    &::after {
      content: '';
      width: 3rem;
      height: 3rem;
      vertical-align: text-bottom;
      border: 5px solid currentColor;
      border-right-color: transparent;
      border-radius: 50%;
      animation: spinner-border .75s linear infinite;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-left: -.75rem;
      margin-top: -.75rem;
      color: #00afef !important;
      z-index: 101;
    }
    @keyframes spinner-border {
      to {
        transform: rotate(360deg);
      }
    }
  }
}

.timeline {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  .item {
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    position: relative;
    padding: 0 5px;
    padding-bottom: 15px;
    cursor: pointer;
    @include my_bp(sm) {
      width: 25%;
    }
    &:hover,
    &.active {
      .icon {
        // color: $gray-800;
        &:before {
          transform: scale(0);
        }
        &:after {
          transform: scale(1);
        }
      }
      &:after {
        transform: scaleX(1);
      }
    }
    span {
      content: "";
      display: block;
      height: 5px;
      width: 100%;
      background: $gray-600;
      position: absolute;
      top: 35px;
      left: 50%;
    }
    &:after {
      content: '';
      display: block;
      height: 2px;
      width: 25%;
      background: $gray-600;
      position: absolute;
      bottom: 0;
      margin-top: 40px;
      transition: all 500ms ease-in-out;
      transform: scaleX(0);
      transform-origin: left;
    }
    .icon {
      width: 75px;
      height: 75px;
      border-radius: 50%;
      padding: 20px;
      z-index: 5;
      position: relative;
      box-shadow: 0px 0px 45px -10px rgba(0, 0, 0, .5);
      .prompt {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        background: $gray-700;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 50%;
        transform-origin: center center;
        animation: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;
        @keyframes ping {
          0% {
            transform: scale(1);
            opacity: 1;
          }
          75%,
          100% {
            transform: scale(2);
            opacity: 0;
          }
        }
      }
      &::before {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        background: $gray-800;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 50%;
        transform-origin: center center;
        transform: scale(1);
        transition: all 300ms ease-in-out;
      }
      &::after {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        background: #00afef;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 50%;
        transform-origin: center center;
        transform: scale(0);
        transition: all 300ms ease-in-out;
      }
      svg {
        position: absolute;
        padding: 20px;
        top: 0;
        left: 0;
        z-index: 10;
      }
    }
    p {
      margin-top: 1rem;
    }
    h4 {
      text-align: center;
      font-size: 1rem;
      font-weight: 700;
    }
  }
}

#timeline-section {
  .contents {
    position: relative;
  }
  .content {
    background: $gray-800;
    padding: 0 2rem;
    border-radius: 2rem;
    display: none;
    &.active {
      display: block;
    }
  }
  #content-1 {
    &:before {
      content: '';
      display: block;
      width: 0;
      height: 0;
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;
      border-bottom: 20px solid $gray-800;
      position: absolute;
      top: -20px;
      left: 25%;
    }
  }
  #content-2 {
    padding: 5rem 2rem;
    &:before {
      content: '';
      display: block;
      width: 0;
      height: 0;
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;
      border-bottom: 20px solid $gray-800;
      position: absolute;
      top: -20px;
      left: 50%;
    }
  }
  #content-3 {
    padding: 3rem;
    &:before {
      content: '';
      display: block;
      width: 0;
      height: 0;
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;
      border-bottom: 20px solid $gray-800;
      position: absolute;
      top: -20px;
      right: 25%;
    }
  }
}

#events-section {
  padding-bottom: 40px;
  margin-top: 100px;
  .grid {
    display: flex;
    justify-content: center;
    align-items: center;
    .item {
      background-color: $gray-900;
      position: relative;
      box-shadow: 0px 0px 20px rgba(0, 0, 0, .5);
      cursor: pointer;
      overflow: hidden;
      margin: 0 2rem;
      &:hover {
        .content {
          transform: translateY(0);
        }
      }
      .date {
        text-align: center;
        padding: 1rem;
        .day {
          font-size: 3rem;
          font-weight: 900;
          sup {
            color: #00afef;
          }
        }
        .month {
          font-size: 2rem;
          font-weight: 400;
        }
      }
      .content {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background-color: $gray-800;
        padding: 1rem;
        font-size: 1.2rem;
        font-weight: 700;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        transition: all 500ms ease;
        transform: translateY(100%);
        transform-origin: bottom center;
      }
    }
  }
}

#events-section {
  // overflow-x: scroll;
  font-family: 'Montserrat', sans-serif;
  font-size: .9rem;
  .timeline {
    list-style-type: none;
    display: flex;
    align-items: start;
    justify-content: center;
    width: max-content;
    margin: 0 auto;
    li {
      transition: all 200ms ease-in;
      max-width: 20%;
      text-align: center;
      &.complete {
        .status {
          border-top: 2px solid #00afef;
          &::before {
            background-color: #00afef;
            border: none;
            transition: all 200ms ease-in;
          }
          h4 {
            color: #00afef;
          }
        }
      }
      &.running {
        .timestamp {
          position: relative;
          &::before {
            width: 50%;
            height: 2px;
            content: '';
            background: #D6DCE0;
            position: absolute;
            right: 0;
            bottom: -21px;
          }
          &::after {
            width: 50%;
            height: 2px;
            content: '';
            background: #00afef;
            position: absolute;
            left: 0;
            bottom: -21px;
          }
        }
        .status {
          border-top: none;
          &::before {
            transition: all 200ms ease-in;
            animation: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;
            background: #00afef;
            @keyframes ping {
              0% {
                transform: scale(1);
                opacity: 1;
              }
              75%,
              100% {
                transform: scale(2);
                opacity: 0;
              }
            }
          }
          &::after {
            content: '';
            width: 25px;
            height: 25px;
            background-color: white;
            border-radius: 25px;
            border: 1px solid #ddd;
            position: absolute;
            top: -15px;
            left: 42%;
            transition: all 200ms ease-in;
          }
        }
      }
      .timestamp {
        margin-bottom: 20px;
        padding: 0px 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-weight: 100;
      }
      .status {
        padding: 0px 40px;
        display: flex;
        justify-content: center;
        border-top: 2px solid #D6DCE0;
        position: relative;
        transition: all 200ms ease-in;
        &::before {
          content: '';
          width: 25px;
          height: 25px;
          background-color: white;
          border-radius: 25px;
          border: 1px solid #ddd;
          position: absolute;
          top: -15px;
          left: 42%;
          transition: all 200ms ease-in;
        }
        h4 {
          font-weight: 600;
          font-size: .9rem;
          margin-top: 1.5rem;
        }
      }
    }
  }
  @media (max-width: 700px) {
    .timeline {
      flex-direction: column;
      align-items: flex-start;
      li {
        &.running {
          .timestamp {
            border-left: 2px solid #00afef;
            &::after {
              display: none;
            }
            &::before {
              display: none;
            }
          }
          .status {
            &::after {
              left: -13px;
            }
          }
        }
        &.complete {
          .timestamp {
            border-left: 2px solid #00afef;
          }
          .status {
            border: none;
            border-left: 2px solid #00afef;
          }
        }
        .status {
          border: none;
          border-left: 2px solid #D6DCE0;
          justify-content: flex-start;
          &::before {
            left: -13px;
          }
          h4 {
            margin-bottom: 1.5rem;
            margin-top: .5rem;
          }
        }
        .timestamp {
          flex-direction: row;
          margin-bottom: 5px;
          padding-top: 20px;
          border-left: 2px solid #D6DCE0;
          .author {
            margin-right: 20px;
          }
        }
      }
    }
  }
}