@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&family=Montserrat:wght@200;400;600&display=swap');
@import "~bootstrap/scss/bootstrap";
@import './mixins';
body {
  font-family: 'Roboto', sans-serif;
  font-size: .9rem;
  font-weight: 300;
  background-color: $gray-900;
  color: white;
}

h1,
h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

h3,
h5 {
  font-family: 'Roboto', sans-serif;
}

#ksum-footer {
  background: #222229;
  color: #dbdbdb;
  padding: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include my_bp(sm) {
    flex-direction: row;
  }
  .left {
    text-align: center;
    @include my_bp(sm) {
      width: 35%;
    }
    p {
      margin: 0;
    }
    .phone {
      font-size: 2rem;
      font-weight: 600;
      color: white;
      svg {
        width: 2rem;
        height: 2rem;
        margin-right: .5rem;
        color: #3fafef;
      }
    }
  }
  .right {
    @include my_bp(sm) {
      width: 35%;
    }
  }
}

#ksum-copy {
  background: #1c1c21;
  color: #b1b1b1;
  padding: 20px 0;
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.modal-content {
  background: $gray-900;
}

.modal-title {
  font-weight: 700;
}

.modal-header {
  border-bottom: 1px solid $gray-800;
}

.btn-close {
  box-sizing: content-box;
  width: 1em;
  height: 1em;
  padding: .25em .25em;
  color: #000;
  background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 16 16'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") no-repeat center center/1em auto;
  background-clip: content-box;
  border: 0;
  border-radius: .25rem;
  opacity: .5;
}

.button {
  border: 1px solid white;
  padding: .5rem 1rem;
  color: white;
  text-decoration: none;
  transition: all 500ms ease;
  font-weight: 700;
  display: inline-block;
  &:hover {
    background: white;
    color: $green-900;
  }
}