extend layouts/default.pug

block head
  link(rel="stylesheet" href="./style/home.scss")
  //- link(rel="stylesheet" href="./style/chrome.scss")

include mixins.pug

block page
  section#main-section
    .container.info-container
      .row.align-items-center
        
        .col-sm-6
          .row.align-items-center.justify-content-center
            .col-sm-4
              .whyhack
                img(src="./images/whyhack-logo-white.svg")
            .col-sm-8
              #typeit
          .partner-header
            span.mr-3 Powered By
            img(src="./images/ey-logo.png")
            .d-block.mt-2
              p “Whyhack - InnovatHER” - is conceived to enable women to break the entry barriers and indulge in the  technology entrepreneurship space. 
              p The event is designed for women having affinity towards technology and will be  given an opportunity to be part of the community. Selected problem solvers will get an opportunity to either pre-incubate at Kerala Startup Mission (Entrepreneurial track) or avail Internship at EY.
              //- p Select your field of expertise and join the exclusive tech community of women.
              a.button.apply(href="#" data-scroll-link data-target="timeline-section" data-offset="135") Apply Now
        .col-sm-6
          .particlehead.loading

  section#events-section
    ul.timeline
      li
        .timestamp
          span.author April 29, 2022
        .status
          h4 Application Open
      li
        .timestamp
          span.author May 20, 2022
        .status
          h4  Last date for signing up
      li
        .timestamp
          span.author May 25-26, 2022
        .status
          h4  Hack the Solution
      li
        .timestamp
          span.author May 26, 2022
        .status
          h4  Winners will be announced

  //- section#events-section
  //-   .grid
  //-     .item
  //-       .date
  //-         .day 25 
  //-           sup th
  //-         .month Oct 2020
  //-       .content
  //-         | Registration Closes
  //-     .item
  //-       .date
  //-         .day 26 
  //-           sup th
  //-         .month Oct 2020
  //-       .content
  //-         | Detailed Problem Statement Published
  //-     .item
  //-       .date
  //-         .day 29
  //-           sup th
  //-         .month Oct 2020
  //-       .content
  //-         | Submit your solutions
  //-     .item
  //-       .date
  //-         .day 31
  //-           sup st
  //-         .month Oct 2020
  //-       .content
  //-         | Result Published


  section.section-content#categories.pb-0
    .container
      div(style="max-width:50%; text-align:center; margin:0 auto;")
        h3.mb-5.text-center More about Technology Sectors and Problem Statements
      .row.justify-content-center
        +card("CS", "Cyber Security", "#aimodal")
          ul
            //- li Highlights extractor
            //- li Recruitment aid
            //- li MobReview
            //- li Sentiment Analysis of the tweet in India regarding Corona Tag
        +card("FT", "Fintech", "#xrmodal")
          ul
            //- li Augmented Reality for Environment Study and Interaction
        +card("DA", "Data Analysis", "#designmodal")
          ul
            //- li Reimagining the accessibility experience through design
        +card("CM", "Cloud & Mobile/Web", "#webmodal")
          ul
            //- li Recruitment Aid
            //- li Retail business
            //- li Transportation
            //- li Health
            //- li Education
      div(style="max-width:50%; text-align:center; margin:0 auto;")
        p.mt-5.text-center Join the community by opting your field of expertise and Solve the challenges.

  +modal('Cyber Security', 'aimodal')
    h5 Problem Statement #1
    p To identify and design a strong business use case, the solution of which should leverage block- chain based decentralized identity management solution using products such as Microsoft Azure Verifiable Credentials
    h5 Problem Statement #2
    p To design a user-friendly Cybersecurity Virtual Assistant for citizens to help them understand the security and privacy posture of their connected device (desktops, laptop, tab, mobile, IOT devices etc.) configurations including the software settings, patches etc.
    h5 Problem Statement #3
    p An AI-driven Cybersecurity Interactive Learning course to provide security awareness and training to users — depending on the user's response and understanding. The course should be automatically adjusted for complexity, concepts and depth.
    
    //- p(style="color:#00afef;")
    //-   b The detailed problem statement to be shared with the applicants on October 20th
    a.button.apply(href="#" data-dismiss="modal") Apply Now

  +modal('Fintech', 'xrmodal')
    h5 Problem Statement #1
    p The problem statement in FinTech is how to use ML/AI to authenticate machine to machine payments. The proposed solution should be able to automate the process of user authentication and authorization for payment initiation without any inputs from the user. One machine should initiate the payment, based on ML routine and the AI part should be able to authorize these payments by validating the security and fraud detection techniques. The other machine should complete the payment transaction using pre-defined workflows.
    
    //- p(style="color:#00afef;")
    //-   b The detailed problem statement to be shared with the applicants on October 20th
    a.button.apply(href="#" data-dismiss="modal") Apply Now

  +modal('Cloud and Mobile/Web', 'designmodal')
    h5 Problem Statement #1
    p Design a user-friendly cloud-based health insurance aggregation service that allows users to view their personal insurance and government subsidized policies in an unified manner. Access to a subset of policy details should also be extended to the healthcare institutions for them to immediately work on an emergency scenario. This platform should undergo risk & compliance standards as per the law of Government.
    h5 Problem Statement #2
    p Design a cloud-based ecosystem system for healthcare institutions to log and record patients ongoing treatment against the patient's Aadhar id. Institutions would need to upload all the details pertaining to medical history, line of treatment and suggested diagnostics/medications. The platform should help understand patient's medical history wherever they consult. Through a combination of the available medical history and technology solution, the platform can leverage AI/ML models to decide on next course of treatment.

    //- p(style="color:#00afef;")
    //-   b The detailed problem statement to be shared with the applicants on October 20th
    
    a.button.apply(href="#" data-dismiss="modal") Apply Now

  +modal('Mobile and Web', 'webmodal')
    h5 Problem Statement #1
    p Over our lifetime, we visit many hospitals and clinics and some of us have regular consulting for different diseases with different doctors
      | in different hospitals. The case file of a patient from one hospital is not available to another hospital. But, since Aadhar is nowadays used
      | as a unique ID at most places, it should be possible to link multiple case files of a single patient from different hospitals and store in on
      | repository which can be accessed by any medical practitioner while attending to a patient. This system will be immensely helpful in case
      | of emergencies when a patient is brought in a case of coma or unconsciousness and family members/attendants have limited knowledge
      | of the medical history of the patient. The challenge will be to design a big data platform which can solve this problem connecting all
      | hospitals in India who have a digital system of keeping records. There will be issues related to getting access to each of the hospital
      | records, authentication, protecting privacy of information etc. The participants will have to address all of these.
    h5 Problem Statement #2
    p Imagine that the Government have resources to have drones deployed to survey roads on a regular basis. The pictures captured by these
      | drones will have to be sent to a central data repository, where using computer vision, the system will identify potholes that need
      | immediate attention and send a trigger to the Executive Engineer of the respective district, Chief Engineer of PWD Kerala and the
      | Minister of PWD. The solution should also be able to prioritize the need of attention that is required. . The challenge for the participants is
      | twofold. (a) Develop an AI algorithm which can detect potholes from drone pictures of roads. They should be able to generate training and
      | test data for this themselves. (b) Design a data architecture to implement this solution, assuming the Government will have readily
      | deployable drones.
    
    //- p(style="color:#00afef;")
    //-   b The detailed problem statement to be shared with the applicants on October 20th
    a.button.apply(href="#" data-dismiss="modal") Apply Now

  section.section-content#timeline-section
    .container
      .timeline
        .item.one(data-content="content-1")
          span
          .icon
            .prompt
            svg(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24' stroke='currentColor')
              path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M17 14v6m-3-3h6M6 10h2a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v2a2 2 0 002 2zm10 0h2a2 2 0 002-2V6a2 2 0 00-2-2h-2a2 2 0 00-2 2v2a2 2 0 002 2zM6 20h2a2 2 0 002-2v-2a2 2 0 00-2-2H6a2 2 0 00-2 2v2a2 2 0 002 2z')
          p Step 1
          h4 Sign Up & Join The Community
        //- .item(data-content="content-2")
        //-   span
        //-   .icon
        //-     svg(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24' stroke='currentColor')
        //-       path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M19.428 15.428a2 2 0 00-1.022-.547l-2.387-.477a6 6 0 00-3.86.517l-.318.158a6 6 0 01-3.86.517L6.05 15.21a2 2 0 00-1.806.547M8 4h8l-1 1v5.172a2 2 0 00.586 1.414l5 5c1.26 1.26.367 3.414-1.415 3.414H4.828c-1.782 0-2.674-2.154-1.414-3.414l5-5A2 2 0 009 10.172V5L8 4z')
        //-   p Step 2
        //-   h4 Solve & Submit the Solution
        .item.active(data-content="content-3")
          .icon
            svg(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24' stroke='currentColor')
              path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M12 19l9 2-9-18-9 18 9-2zm0 0v-8')
          p Step 3
          h4 Become an entrepreneur or Learn from experts

      .contents
        .content#content-1
          #zf_div_7sV85ZUo0BAHnIv8JHF4_nAP_igeIy1ZVOlklStpinM

        //- .content#content-2
        //-   #zf_div_8x10cKDCWAXL0GnxbWtg0gllLeAeP0ocSoYXFgIDDT0
        
        .content.active#content-3
          h4 For aspiring entrepreneurs!
          ul
            li 3 months pre-incubation support and free access to co-working space at Kochi
            li  Free credits to access cloud services 

          h4 If you are still a learner!
          ul
            li Internship for selected participants with EY


block script
  script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r61/three.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.11.4/TweenMax.min.js")
  script(src="./script/OBJLoader.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js")
  script(src="./script/index.js")

