mixin tab(title, classs="")
  .tab-frame
    .tab-container(title=title tab-id='0' class=classs)
      .tab
        //- img.icon(src='https://static.codepen.io/assets/favicon/favicon-8ea04875e70c4b0bb41da869e81236e54394d63638a1ef12fa558a4a835f1164.ico')
        .title= title
        .close
          svg(xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewbox='0 0 16 16')
            path(d='M16,1.6L14.4,0L8,6.4L1.6,0L0,1.6L6.4,8L0,14.4L1.6,16L8,9.6l6.4,6.4l1.6-1.6L9.6,8L16,1.6z')
      .round.round-left
      .round.round-right

mixin card(short, title , link)
  .col-md-3.col-sm-6.col-8
    .grid
      span
      span
      span
      span
      h1= short
      .content
        h3= title
        block
        a.button.stretched-link(href="#" data-target=link data-toggle="modal" ) Read More

mixin modal(title, link)
  .modal.fade(tabindex='-1' aria-labelledby='aimodal' aria-hidden='true' id=link)
    .modal-dialog.modal-dialog-centered.modal-lg
      .modal-content
        .modal-header
          .modal-title
            h5.m-0= title
          button.btn-close(type='button' data-dismiss='modal' aria-label='Close')
        .modal-body.p-4
          block