<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Kerala Startup Mission

    link(rel='apple-touch-icon' sizes='57x57' href='./fav/apple-icon-57x57.png')
    link(rel='apple-touch-icon' sizes='60x60' href='./fav/apple-icon-60x60.png')
    link(rel='apple-touch-icon' sizes='72x72' href='./fav/apple-icon-72x72.png')
    link(rel='apple-touch-icon' sizes='76x76' href='./fav/apple-icon-76x76.png')
    link(rel='apple-touch-icon' sizes='114x114' href='./fav/apple-icon-114x114.png')
    link(rel='apple-touch-icon' sizes='120x120' href='./fav/apple-icon-120x120.png')
    link(rel='apple-touch-icon' sizes='144x144' href='./fav/apple-icon-144x144.png')
    link(rel='apple-touch-icon' sizes='152x152' href='./fav/apple-icon-152x152.png')
    link(rel='apple-touch-icon' sizes='180x180' href='./fav/apple-icon-180x180.png')
    link(rel='icon' type='image/png' sizes='192x192' href='./fav/android-icon-192x192.png')
    link(rel='icon' type='image/png' sizes='32x32' href='./fav/favicon-32x32.png')
    link(rel='icon' type='image/png' sizes='96x96' href='./fav/favicon-96x96.png')
    link(rel='icon' type='image/png' sizes='16x16' href='./fav/favicon-16x16.png')
    link(rel='manifest' href='./manifest.webmanifest')
    meta(name='msapplication-TileColor' content='#2a0845')
    meta(name='msapplication-TileImage' content='./fav/ms-icon-144x144.png')
    meta(name='theme-color' content='#2a0845')

    meta(name='apple-mobile-web-app-capable' content='yes')
    meta(name='apple-mobile-web-app-status-bar-style' content='black')
    meta(name='apple-mobile-web-app-title' content='Kerala Startup Mission')
    link(rel='apple-touch-icon' href='./fav/apple-icon-152x152.png')

    link(rel="stylesheet", href="./style/main.scss")
    link(rel="stylesheet", href="./style/navbar.scss")
    block head
    
  body
    include partials/aside.pug
    block page

    footer
      //- #ksum-footer
      //-   .left
      //-     img.img-fluid(src="./images/logo-white.svg")
      //-     p G3B, Thejaswini, Technopark Campus
      //-     p Kariyavattom, Trivandrum, Kerala 695581
      //-     .phone
      //-       svg(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24' stroke='currentColor')
      //-         path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M3 5a2 2 0 012-2h3.28a1 1 0 01.948.684l1.498 4.493a1 1 0 01-.502 1.21l-2.257 1.13a11.042 11.042 0 005.516 5.516l1.13-2.257a1 1 0 011.21-.502l4.493 1.498a1 1 0 01.684.949V19a2 2 0 01-2 2h-1C9.716 21 3 14.284 3 6V5z')
      //-       | 08047180470
      //-     p ( Timings: 08.00 am to 08.00 pm )

      //-   .right

      #ksum-copy
        | Copyright © 2020 Kerala Startup Mission. All Rights Reserved.

    block script